.completed {
  background-color: #d4edda; /* Verde */
}
.not-completed {
  background-color: #f8d7da; /* Rosso */
}

.users-page {
  margin: 0 1.25rem 3.75rem 1.25rem; /* Aggiungo margine a destra */
}

.user-container {
  border: 1px solid #d3d3d3; /* Bordo grigio chiao */
  padding: 10px; /* Spazio interno */
  margin-bottom: 20px; /* Spazio tra i contenitori degli utenti */
}

.task-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px; /* Aggiungo un po' di spazio tra le task */
}

.task-item input[type="checkbox"] {
  margin-left: 10px; /* Margine a sinistra della checkbox */
}

.task-item h3,
.task-item p {
  margin: 0 10px; /* Aggiungo un po' di spazio tra la checkbox e il testo */
}
