<div *ngIf="prodotti.length > 0; else noProducts" class="row">
  <div *ngFor="let prodotto of prodotti" class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ prodotto.title }}</h5>
        <p class="card-text">{{ prodotto.description }}</p>
        <p class="card-text">Prezzo: {{ prodotto.price | currency:'EUR' }}</p>
        <p class="card-text">Categoria: {{ prodotto.category }}</p>
        <p class="card-text">Sconto: {{ prodotto.discountPercentage }}%</p>
        <p class="card-text">Valutazione: {{ prodotto.rating }}</p>
        <p class="card-text">Disponibilità: {{ prodotto.stock }}</p>
        <p class="card-text">Marca: {{ prodotto.brand }}</p>
        <p class="card-text">SKU: {{ prodotto.sku }}</p>
        <p class="card-text">Peso: {{ prodotto.weight }} kg</p>
        <p class="card-text">Dimensioni: {{ prodotto.dimensions.width }}x{{ prodotto.dimensions.height }}x{{
          prodotto.dimensions.depth }} cm</p>
        <p class="card-text">Informazioni sulla garanzia: {{ prodotto.warrantyInformation }}</p>
        <p class="card-text">Informazioni sulla spedizione: {{ prodotto.shippingInformation }}</p>
        <p class="card-text">Stato disponibilità: {{ prodotto.availabilityStatus }}</p>
        <p class="card-text">Politica di reso: {{ prodotto.returnPolicy }}</p>
        <p class="card-text">Quantità minima ordine: {{ prodotto.minimumOrderQuantity }}</p>
        <img [src]="prodotto.thumbnail" alt="Immagine prodotto">
      </div>
    </div>
  </div>
</div>
<ng-template #noProducts>
  <div class="alert alert-warning" role="alert">
    Nessun prodotto disponibile.
  </div>
</ng-template>